@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@200&family=Mochiy+Pop+P+One&family=Montserrat:ital@0;1&family=Oswald:wght@200&family=Passion+One:wght@700&family=Readex+Pro:wght@500&family=Roboto&family=Tangerine:wght@700&family=Zen+Antique&display=swap');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(204, 192, 228, 0.6);
}
.heading {
  text-align: center;
  color: rgb(22, 18, 43);
}
.buttons{
display: grid;
grid-column: 1/3;
width: 20%;
}
.show-modal{
  display: inline-block;
  background: rgb(144, 149, 221);
  color:white;
  padding: 0.25rem 0.75rem;
  border-radius:0.25rem;;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.show-modal:hover {
  background: rgb(37, 119, 187);
  color: rgb(87, 241, 100);
}
.modal{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 40%;
    font-family: 'Readex Pro', sans-serif;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }

  @media screen and (min-width: 480px) {
    .modal {
        top: 50%;
        width: 50%;
      
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index:5;
  }
  
  .hidden{
      display: none;
  }